<!-- <p>renew-password works!</p> -->

<h1 style="text-align: center;">Please update your Password</h1>

<form [formGroup]="renewpasswordform" (ngSubmit)="renewPassword()">
    <div class="container" style="align-content: center;">
        <div class="arrange">
            <label> New Password : </label>
            <input class="inputdata" type="password" name="newpassword" formControlName="newpassword">
        </div>
        <br>
        <div class="arrange">
            <label> Re-enter New Password : </label>
            <input class="inputdata" type="password" name="repassword" formControlName="repassword">
        </div>

        <button class="btn btn-primary" type="submit">Sumbit</button>
    </div>
</form>