.inputdata {
    margin : 0px 20px;
    
}

.container {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
    align-items: center;
    margin: 100px 100px
}

.arrange {
    display: block;
    width: 100%;
}

div {
    display: inline;
}